--force-reinstall
streamlit
pandas
numpy
scikit-learn
scorecardpy
statsmodels
scipy
xlsx2csv
openpyxl
matplotlib
seaborn
plotly
bcrypt
XlsxWriter
streamlit-authenticator
streamlit-tags
streamlit-extras
ydata-profiling
